* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        background: #21272f;
}

a {
        text-decoration: none;
        color: azure;
        font-family: Roboto, sans-serif;
        transition: 0.3s;
        background-color: #1d212a;
}

a:hover {
        color: #58C4DD;   
}

ul {
        list-style-type: none;
}

nav ul, li {
        background-color: #1d212a;
}

header {
        background-color: #1d212a;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
}

.nv:hover {
        color: rgb(255, 255, 255);
}

.nv {
        letter-spacing: 1px;
        font-weight: lighter;
}

.manim {
        background-color: #21272f;
        color: #58C4DD;
}

.int:hover {
        color: #58C4DD;
}

.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1d212a;
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.footer h6 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-size: small;
        color: #ffffff;
}

.footer h6 span {
        margin: 10px;
}

.footer h6 span a:hover {
        color: #ffffff;
}


/* Animations */
@keyframes fadein {
        to {
                opacity: 1;
        }
}


/* Media Queries */
/* 699px and down */
@media only screen and (max-width: 699px) {
}

/* 700px and up */
@media only screen and (min-width: 700px) {
        #const, .const {
                display: none;
        }

        header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 10%;
                max-height: fit-content;
                flex-direction: column;
                padding-bottom: 20px;
        }
        
        nav ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        li {
                padding: 20px;
        }

        #active {
                font-weight: bold;
                font-size: x-large;
        }

        #active:hover {
                color: #ffffff;
        }

        main div {
                margin-top: clamp(200px, 50%, 500px);
                margin-left: 15%;
                max-width: 70%;
        }
    
        p {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: #ffffff;
                font-size: xx-large;
                line-height: 50px;
                word-spacing: 5px;
                letter-spacing: 1px;
        }
}

/* 1200px and up */
@media only screen and (min-width: 1200px) {
        
        header {
                flex-direction: row;
                max-height: 90px;
                padding-bottom: 30px;
        }

        .nv {
                margin-left: 50%;
        }

        main div {
                margin-top: 20%;
                margin-left: 15%;
                max-width: 50%;
        }

        p {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: #ffffff;
                font-size: xx-large;
                line-height: 50px;
                word-spacing: 5px;
                letter-spacing: 1px;
        }
}