/* Animations */
@keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 10%); }
        100%   { transform: translate(0, -0px); }   
}

@keyframes fadein {
        to {
                opacity: 1;
        }
}


/* Media Queries */
/* 699px and down */
@media only screen and (max-width: 699px) {
        main, header {
                display: none;
        }

        #const {
                display: block;
                margin: auto;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
		background-color: #21272f;
                font-size: small;
        }

        .const {
                display: block;
                margin: auto;
                max-width: fit-content;
                margin-top: 20%;
        }

}

/* 700px and up */
@media only screen and (min-width: 700px) {
        #const, .const {
                display: none;
        }

        header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 10%;
                max-height: fit-content;
                flex-direction: column;
                padding-bottom: 20px;
        }
        
        nav ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        li {
                padding: 20px;
        }

        #active {
                font-weight: bold;
                font-size: x-large;
        }

        #active:hover {
                color: #ffffff;
        }
}

/* 1200px and up */
@media only screen and (min-width: 1200px) {

        header {
                flex-direction: row;
                max-height: 90px;
                padding-bottom: 30px;
        }

        .nv {
                margin-left: 50%;
        }
}